@mixin backgroundGradient {
    background: #e9d362;
    /* background: -webkit-linear-gradient(to right, #D48O3C, #F3E22B);
    background: linear-gradient(to right, #D48O3C, #F3E22B);    */
}

body{
    @include backgroundGradient();
}

.logo{
    width: 5%;
    padding: 2%;
}

